{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "browsers": ["last 2 versions", "ie > 9"]
          },
          "useBuiltIns": "entry",
          "corejs": 2,
          "modules" : false
        },
        "transform-runtime": {
          "useESModules": false
        },
        "styled-jsx": {},
        "class-properties": {}
      }
    ]
  ],
  "plugins": ["transform-remove-strict-mode"]
}
